#
# MANIFEST.in
#
# Manifest template for creating the dlib source distribution.


include MANIFEST.in
include setup.py
include README.md

# sources
recursive-include dlib **
recursive-include python_examples *.txt *.py 
recursive-include tools/python **

prune tools/python/build*
prune dlib/cmake_utils/*/build*
prune dlib/test

global-exclude *.pyc
