name: Python

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

defaults:
  run:
    shell: bash

jobs:
  Windows:
    runs-on: 'windows-latest'
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
    - name: Install python deps
      run: pip install pytest numpy
    - name: Build
      run: |
        python setup.py build
        python setup.py install --user
    - name: Test
      run: python -m pytest --ignore docs --ignore dlib

  Ubuntu:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
    - name: Install python deps
      run: pip install pytest numpy
    - name: Build
      run: |
        python setup.py build
        python setup.py install --user
    - name: Test
      run: python -m pytest --ignore docs --ignore dlib

  MacOS:
    runs-on: 'macos-latest'
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
    - name: Install python deps
      run: pip install pytest
    - name: Build
      run: |
        python3 setup.py build
        python3 setup.py install --user
    - name: Test
      run: python3 -m pytest --ignore docs --ignore dlib

